.App {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
.progress {
  background-color: gainsboro;
  width: 500px;
  height: 25px;
  border: 1px solid black;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
}
.progress span {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.progress div {
  height: 100%;
  background-color: crimson;
}
